/* 元素初始化 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 响应式设计 */
html{
    font-size: 62.5%;
}
main{
    width: 80rem;
    min-height: 50rem;
    background-color: #F2F2F2;
    margin: 0 auto;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
}